.container
    h1 About
    p Reported is a community driven break-in and theft tracker in your area. Add reports to this map to inform others on recent events.
    p To use this application, click a point on the map where you would like to create a report. Add your name, email, and a short description of the incident. If you'd like, you can add a photo for a better description.
    p Your data point will be displayed on the map for all others to see. If you'd like, you can take this moment to delete it.
