form(ng-submit='submitComment()')
  div
    label(for='user') Name:
    input#user(type='text', ng-model='comment.user')
  div
    label(for='email') E-mail:
    input#email(type='email', ng-model='comment.email')
  div
    label(for='message') Message:
    textarea#msg(ng-model='comment.message')
  .button
    button(type='submit') Send
