.container
  form(ng-submit='submitComment()')
    fieldset.form-group
      label(for='user') Name
      input#user.form-control(type='text', ng-model='comment.user', placeholder='Enter your name')
    fieldset.form-group
      label(for='email') Email address
      input#email.form-control(type='email', ng-model='comment.email', placeholder='Enter your email')
      small.text-muted We'll never share your email with anyone else.
    fieldset.form-group
      label(for='message') Message
      textarea#message.form-control(rows='3', ng-model='comment.message', placeholder='Enter a description of the event')
    fieldset.form-group
      label(for='imageurl') Image Url
      input#imageurl.form-control(type='imageurl', ng-model='comment.imageurl', placeholder='Enter Image Url')
      small.text-muted Add any image you'd like added to the message (Free image upload 
      a.small(href='http://imgur.com/', target='_blank') here
      ).
    button.btn.btn-primary(type='submit') Submit
