body
  padding-top 70px
  .navbar-header
    margin-top 5px
    margin-bottom 5px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

#map
  height 450px

.leaflet-control-search
.search-button
  display block
  float left
  width 26px
  height 26px
  background url('http://labs.easyblog.it/maps/leaflet-search/images/search-icon.png') no-repeat 2px 2px
  border-radius 4px